@using MyApp.Modals

<div class="bg-dark text-white p-3 font-monospace">
	<h3>ChildComponent</h3>

	<p>My name is @Person.Name and I'm @Person.Age years old. My hobbies are:</p>
	<ul>
		@foreach (var hobby in Person.Hobbies)
		{
			<li>@hobby</li>
		}
	</ul>
</div>

@code {
	[Parameter]
	public Person Person { get; set; }

	// [Parameter]
	// public string Name { get; set; }

	// [Parameter]
	// public int Age { get; set; }

	// [Parameter]
	// public List<string> Hobbies { get; set; }
}
