@page "/parent"
@using MyApp.Modals

<h1>ParentComponent</h1>

<ChildComponent Person=@person />

@code{
	Person person = new()
	{
		Name = "Talha Ahmad",
		Age = 20,
		Hobbies = ["Programming", "Gaming", "Cooking"]
	};
}
